// ==============================
// #FRAME-STYLES
// ==============================
// Styles for map containers and iframes including size, border radius, and shadow.
// ==============================

@use "sass:map";

@use "variables" as v;
@use "mixins" as m;

// ==============================
// #MAP-CONTAINER-FRAME
// ==============================
// Styles for map containers and iframes including size, border radius, and shadow.
// ==============================

.map-container {
  @include m.frame($height: 300px);
}

// ==============================
// #MAP-CONTAINER-IFRAME
// ==============================
// Styles for iframes within map containers.
// ==============================

.map-frame {
  @include m.frame();
}

// ==============================
// #CODE-FRAME
// ==============================
// Styles for code snippet containers.
// ==============================

.code-frame {
  @include m.frame();
}

.dark-theme .qr img {
  box-shadow: 0 2px 6px var(--shadow);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 15px var(--shadow);
  }
}
