// ==============================
// #ICON-LINK-STYLES
// ==============================
// Styles for icon links including size, color, and hover effects.
// ==============================

@use "sass:map";

@use "variables" as v;

// ==============================
// #ICON-LINK
// ==============================
// Styles for icon links including size, color, and hover effects.
// ==============================

.icon-link {
  color: map.get(map.get(v.$colors, "link"), "default");

  &:hover {
    color: map.get(map.get(v.$colors, "link"), "hover");
  }

  // NB! See that colors for visited links are the same as for normal links
  // This is to avoid color shifting when a user hovers over a visited link
  &:visited {
    color: map.get(map.get(v.$colors, "link"), "default");
  }

  &:visited:hover {
    color: map.get(map.get(v.$colors, "link"), "hover-visited");
  }

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    transition: fill 0.25s ease-in-out,
      transform 0.25s cubic-bezier(0.34, 1.56, 0.64, 1);
    &:hover,
    &:active {
      transform: scale(1.15);
    }
  }
}
