// 404 Not Found Styles
.not-found {
  text-align: center;

  // ASCII Art
  &__code {
    line-height: 1.1;
    margin: 1.5rem 0;
    white-space: pre;
    font-family: monospace;
    overflow-x: auto;
    display: block;
    max-width: 100%;
  }
}
