// ==============================
// Progress Bar
// ==============================

@use "sass:map";

@use "variables" as v;

// ==============================
// Progress Bar Styles
// ==============================

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: color-mix(
    in oklch,
    #{map.get(v.$colors, "progress-bar")} 70%,
    transparent
  );
  transform-origin: left;
  animation: grow linear;
  animation-timeline: scroll();
}

// ==============================
// Progress Bar Animation
// ==============================

@keyframes grow {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
