// ==============================
// Variables
// ==============================

@use "sass:meta";

// ==============================
// Fonts Imports
// ==============================

@import url("https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

// ==============================
// Fonts
// ==============================

$font-body: "Finlandica", "Ubuntu", "Roboto", "Segoe UI", "Helvetica Neue",
  sans-serif;
$font-header: "Caveat", "Segoe Script", cursive;
$font-heading: "Playfair Display", serif;
$font-mono: "Fira Code", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
$font-drop-cap: "Playfair Display SC", serif;
$font-quote: "Playfair Display SC", serif;
$font-quote-caption: "Playfair Display", serif;

// ==============================
// Colors
// ==============================

$colors: (
  // ==============================
  // Text Colors
  // ==============================
  "text":
    (
      "default": oklch(35% 0 0),
      "aside": oklch(40% 0 0),
      "quote": oklch(50% 0 0),
      "quote-caption": oklch(70% 0 0),
      "figcaption": oklch(51.028% 0.00006 271.152),
      "meta": oklch(70% 0 0),
      "inverse": oklch(1 0 0),
      "drop-cap": oklch(25% 0 0),
    ),

  // ==============================
  // Link Colors
  // ==============================
  "link":
    (
      "default": oklch(55% 0 0),
      "visited": oklch(65% 0 0),
      "hover": oklch(0.7967 0.1505 79.18),
      "hover-visited": oklch(0.78 0.11 262),
    ),

  // ==============================
  // Button Colors
  // ==============================
  "button":
    (
      "bg": oklch(70.576% 0.00008 271.152),
      "text": oklch(96.548% 0.03931 100.895),
      "hover": oklch(76.309% 0.15646 84.431),
      "focus": oklch(54.59% 0.11586 106.658),
      "shadow": oklch(0% 0 0 / 0.3),
    ),

  // ==============================
  // "Code Copy Button Colors
  // ==============================
  "code-copy-btn":
    (
      "bg": oklch(61.764% 0.12762 70.669),
      "text": oklch(96.548% 0.03931 100.895),
      "hover": oklch(43.735% 0.17892 28.249),
      "focus": oklch(54.59% 0.11586 106.658),
    ),

  // ==============================
  // "Webmention Colors
  // ==============================
  "webmention":
    (
      "bg": oklch(95% 0.02 90),
      "border": oklch(80% 0 0),
      "text": oklch(30% 0 0),
      "meta": oklch(60% 0 0),
      "link": oklch(55% 0 0),
      "link-visited": oklch(65% 0 0),
      "link-hover": oklch(0.7967 0.1505 79.18),
      "link-hover-visited": oklch(0.78 0.11 262),
      "shadow": oklch(0 0 0 / 0.1),
    ),

  // ==============================
  // Miscellaneous Colors
  // ==============================
  "focus": oklch(0.78 0.11 262),
  "progress-bar": oklch(70% 0 0),
  "separator": oklch(80% 0 0),
  "shadow": oklch(0 0 0 / 0.15),
  "border": oklch(90% 0 0)
);

// ==============================
// Spacing
// ==============================
$spacing-section: 50px;
$spacing-container: 50px;

// ==============================
// CSS Custom Properties (export)
// ==============================

:root {
  // ==============================
  // Fonts
  // ==============================
  --font-body: #{$font-body};
  --font-header: #{$font-header};
  --font-heading: #{$font-heading};
  --font-mono: #{$font-mono};
  --font-drop-cap: #{$font-drop-cap};
  --font-quote: #{$font-quote};
  --font-quote-caption: #{$font-quote-caption};

  // ==============================
  // Colors
  // ==============================

  @each $key, $value in $colors {
    @if meta.type-of($value) == "map" {
      @each $sub-key, $sub-value in $value {
        --color-#{$key}-#{$sub-key}: #{$sub-value};
      }
    } @else {
      --color-#{$key}: #{$value};
    }
  }

  // ==============================
  // Spacing
  // ==============================
  --spacing-section: #{$spacing-section};
  --spacing-container: #{$spacing-container};
}
