@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

// ==============================
// Variables
// src/assets/scss/_variables.scss
// ==============================

// ---- Fonts ----
$font-body: "Finlandica", "Ubuntu", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
$font-header: "Caveat", "Segoe Script", cursive;
$font-heading: "Playfair Display", serif;
$font-mono: "Fira Code", "Menlo", "Monaco", "Consolas", "Courier New", monospace;
$font-drop-cap: "Playfair Display SC", serif;
$font-quote: "Playfair Display SC", serif;
$font-quote-caption: "Playfair Display", serif;

// // ---- Colors ----
$color-text: oklch(35% 0 0);
$color-text-aside: oklch(40% 0 0);
$color-text-quote: oklch(50% 0 0);
$color-text-quote-caption: oklch(70% 0 0);
$color-text-meta: oklch(70% 0 0);
$color-text-inverse: oklch(1 0 0);
$color-text-drop-cap: oklch(25% 0 0);

$color-link: oklch(55% 0 0);
$color-link-visited: oklch(65% 0 0);
$color-link-hover: oklch(0.7967 0.1505 79.18);
$color-link-hover-visited: oklch(0.78 0.11 262);

$color-focus: oklch(0.78 0.11 262);
$color-progress-bar: oklch(70% 0 0);
$color-separator: oklch(80% 0 0);

// ---- Spacing ----
$spacing-section: 50px;
$spacing-container: 50px;

// ==============================
// CSS Custom Properties (export)
// ==============================
:root {
  // Fonts
  --font-body: #{$font-body};
  --font-header: #{$font-header};
  --font-mono: #{$font-mono};
  --font-drop-cap: #{$font-drop-cap};

  // Colors
  --color-text: #{$color-text};
  --color-text-inverse: #{$color-text-inverse};
  --color-text-aside: #{$color-text-aside};
  --color-text-quote-caption: #{$color-text-quote-caption};
  --color-text-quote: #{$color-text-quote};
  --color-text-drop-cap: #{$color-text-drop-cap};
  --color-link: #{$color-link};
  --color-link-visited: #{$color-link-visited};
  --color-link-hover: #{$color-link-hover};
  --color-link-hover-visited: #{$color-link-hover-visited};

  --color-focus: #{$color-focus};

  --color-progress-bar: #{$color-progress-bar};

  // Spacing
  --spacing-section: #{$spacing-section};
  --spacing-container: #{$spacing-container};
}
