// ==============================
// #WEBMENTIONS
// ==============================
// Styles for displaying webmentions on posts and pages.
// ==============================

@use "sass:map";

@use "variables" as v;

// ==============================
// #WEBMENTIONS-CONTAINER
// ==============================
// Styles for the main webmentions container.
// ==============================

.webmentions {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--backgrounds-card);
  border-left: 4px solid var(--primary);
  border-radius: 4px;
  font-size: 0.9rem;
}

.webmentions h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--neutral-500);
}

.webmentions ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// ==============================
// #WEBMENTION-ENTRY
// ==============================
// Styles for each individual webmention entry.
// ==============================

.webmention {
  margin-bottom: 0.75rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--primary);
}

.webmention:last-child {
  border-bottom: none;
}

.webmention .owi {
  font-size: 1rem;
  flex-shrink: 0;
  color: var(--neutral-400);
}

.webmention .wm-author a {
  font-weight: bold;
  text-decoration: none;
  color: var(--neutral-200);
}

.webmention .wm-content {
  margin-top: 0.25rem;
  color: var(--neutral-300);
}

// ==============================
// #WEBMENTIONS-ALL
// ==============================
// Styles for the section displaying all webmentions.
// ==============================

.webmentions-all {
  padding: 2rem;
  background: var(--backgrounds-card);
  border-radius: 8px;
  font-size: 0.9rem;
}

.webmentions-all ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.webmentions-all li.webmention {
  border-bottom: 1px solid var(--primary);
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
}

.webmentions-all li.webmention:last-child {
  border-bottom: none;
}

.webmention .wm-author a {
  font-weight: bold;
  color: var(--neutral-200);
  text-decoration: none;
}

.webmention .wm-content {
  margin-top: 0.25rem;
}
