# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json # коммить только если фиксируешь версии

# Eleventy build
_site/
.cache/
.tmp/

# Environment / secrets
.env
.env.local
.env.*.local
*.pem
*.key
*.crt

# OS files
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
