{% extends "layouts/base.njk" %}
{% block content %}

  <div id="progress-bar"></div>

  <article class="post-page">
    {% if image and image.src %}
      <figure class="post-cover">
        <img src="{{ image.src }}" alt="{{ title }}"/>
        {% if image.caption %}
          <figcaption>
            {{ image.caption | safe }}
          </figcaption>
        {% endif %}
      </figure>
    {% endif %}

    <h1 id="post-title">{{ title }}</h1>

    <div class="post-meta-top">
      <small class="reading-time">
        {{ content | timeToRead }} чтения
      </small>
      {% if repost and repost != false %}
        {% set has_source = repost.source and
        repost.source != "" %}
        {% set has_url = repost.url and repost.url != "" %}
        {% set has_date = repost.date and repost.date != "" %}
        {% if has_source or
        has_url or has_date %}
          <span class="separator">·</span>
          <small class="post-repost">
        Этот пост впервые был опубликован {% if has_url and has_source %} в
        <a href="{{ repost.url }}">{{ repost.source }}</a>
            {% elif has_source %} в
        {{ repost.source }}
            {% elif has_url %}
              <a href="{{ repost.url }}">{{ repost.url }}</a>
            {% endif %}
            {% if has_date %}
              {{ repost.date | date("dd.MM.yyyy") }}
            {% endif %}
          </small>
        {% endif %}
      {% endif %}
    </div>

    <div class="post-meta-bottom">
      <p class="post-date">{{ date | date("dd.MM.yyyy") }}</p>
    </div>

    {% include "partials/map.njk" %}

    {{ content | safe }}

    {% include "partials/webmentions.njk" %}

  </article>

  <nav class="post-navigation">
    <div class="nav-grid">
      <div class="nav-item nav-next">
        {% if nav and nav.next %}
          <a href="{{ nav.next.url }}">
            <span class="arrow">←</span>
            <span>{{ nav.next.title }}</span>
          </a>
        {% endif %}
      </div>

      <div class="nav-item nav-all">
        <a href="/blog/">
          <span>Все посты</span></a>
      </div>

      <div class="nav-item nav-prev">
        {% if nav and nav.prev %}
          <a href="{{ nav.prev.url }}">
            <span>{{ nav.prev.title }}</span>
            <span class="arrow">→</span>
          </a>
        {% endif %}
      </div>
    </div>
  </nav>

{% endblock %}
