{% extends "layouts/base.njk" %}

{% block content %}

    <div id="progress-bar"></div>

    <h1 class="page-title">Публикации и выступления</h1>

    <small>
    <p class="page-description"></p>
    </small>

    {% if collections.research | length == 0 %}
        <p>Публикаций пока нет. Или они есть, но не видны. Когда-нибудь появятся.</p>
    {% endif %}

    {% if collections.research | length > 0 %}
        <p class="projects-count">
            Всего записей: {{ collections.research | length }}
        </p>
    {% endif %}

    <div class="research-posts-list">
        {% for post in collections.research %}
            {% include "partials/card.njk" %}
        {% endfor %}
    </div>
{% endblock %}
