{# Абзац с буквицей #}

<p class="drop-cap"></p>

{# Цитата #}

<figure class="quote">
  <blockquote></blockquote>
  <figcaption class="quote-caption"></figcaption>
</figure>

{# Иллюстрация для поста #}

<figure>
  <img src="" alt="">
  <figcaption></figcaption>
</figure>

{# Иллюстрация для одной из slashpages #}

<figure class="figure-content">
  <img src="" alt="">
  <figcaption></figcaption>
</figure>

{# Сетка из двух изображений в ряд #}

<div class="image-grid">
  <figure class="figure-content">
    <img src="" alt="">
    <figcaption></figcaption>
  </figure>
  <figure class="figure-content">
    <img src="" alt="">
    <figcaption></figcaption>
  </figure>
</div>

{# Карусель из изображений #}

<div class="figure-content carousel-container">
  <div class="carousel-counter">1 / 2</div>

  <button class="carousel-btn prev" aria-label="Назад">‹</button>
  <button class="carousel-btn next" aria-label="Вперед">›</button>

  <div class="carousel-track">
    <figure class="carousel-item">
      <img src=""
      alt="">
      <figcaption>1. </figcaption>
    </figure>
    <figure class="carousel-item">
      <img src=""
      alt=""
      loading="lazy">
      <figcaption>2. </figcaption>
    </figure>
  </div>
</div>

{# Обёртка для встраеваемых карт Leaflet #}

<div class="map-frame"></div>

{# Обёртка для встраиваемых карт Google #}

<div class="map-frame map-frame--google-embed">
  <iframe src=""
    loading="lazy"
    fetchpriority="low"
    title="">
  </iframe>
</div>

{# Код #}

<div class="code-frame">
  {% highlight "txt" %}{% endhighlight %}
</div>

{# PDF #}

<div class="pdf-frame">
  <iframe
    src="#zoom=page-fit&page=1"
    title="PDF Viewer"
    loading="lazy"
    frameborder="0">
  </iframe>
</div>

{# Обёртка для видео в посте #}

<div class="video-frame"></div>
