{# NB! Везде, где в подписи будут "", заменить их на ''! Например, если будет ссылка #}

{# Абзац с буквицей #}

{% dropcap %}

{% enddropcap %}

{# Цитата #}

{% quote '' %}

{% endquote %}

{# Одиночная иллюстрация #}

{% img {
  url: '',
  alt: '',
  caption: ''
} %}

{# Сетка из двух и более изображений в ряд #}

{% img [
  { url: '', alt: '', caption: '' },
  { url: '', alt: '', caption: '' }
] %}

{# Карусель из изображений #}

{% set myImages = [
  { url: '', alt: '', caption: '' },
  { url: '', alt: '', caption: '' }
] %}

{% carousel myImages %}

{# Обёртка для встраеваемых карт Leaflet #}

<div class="map-frame"></div>

{# Обёртка для встраиваемых карт Google #}
{# "URL", "caption" #}

{% googleMap "", "" %}

{# Код #}

<div class="code-frame">
{% highlight "txt" %}

{% endhighlight %}
</div>

{# PDF #}
{# "URL", "page number", "title" #}
{# Только URL — обязательное поле #}

{% pdf "", 1, "" %}

{# Обёртка для видео в посте #}

<div class="video-frame"></div>

{# GIF #}
{# "path", "caption", "width" #}
{# Только "path" — обязательное поле #}

{% gif "", "" %}
