---
title: Valery Tropin
description: Main page with contacts & CV
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div id="progress-bar"></div>

  <article class="cv" itemscope itemtype="https://schema.org/Person">

    <h2>Curriculum Vitae</h2>

    {% include "partials/description.njk" %}

    {% include "partials/contacts.njk" %}

    {% include "partials/experience.njk" %}

    {% include "partials/education.njk" %}

    {% include "partials/last-mode-git.njk" %}

  </article>
{% endblock %}
