---
title: Главная
description: Главная страница сайта Валерия Тропина
---

{% extends "layouts/base.njk" %} {% block content %}

<!-- Блок «Обо мне» -->
{% include "partials/description.njk" %} {% endblock %}
