---
title: /map
description: The site map page
permalink: /map/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

  <div id="progress-bar"></div>

  <h1><code>/map</code></h1>

  <p>Здесь живёт карта моего сайта: ссылки на крупные разделы и <a href="https://slashpages.net/" target="_blank" rel="noopener"><cite>slashpages</cite></a> (потому что мне нравится идея <a href="https://indieweb.org/" target="_blank" rel="noopener">инди-веба</a>, а ещё потому что мне нравится делать отдельные странички для всякого).</p>

  {% gif "charlie-day" %}

  <ul class="map-list">
    <li><strong><a href="/blog/">Блог</a></strong> Личный блог + архивные записи из ЖЖ и других мест.</li>
    <li><strong><a href="/projects/">Проекты</a></strong> Проекты, которыми горжусь.</li>
    <li><strong><a href="/research/">Публикации и выступления</a></strong> Статьи, выступления на конференциях, записи моих выступлений.</li>
    <li><strong><a href="/events/">События</a></strong> Лекции, экскурсии и прочие события, в которых я принимаю участие.</li>
    <br>
    <li><strong><code><a href="/setup/">/setup</a></code></strong> Софт, железо и всё, что я использую.</li>
    <li><strong><code><a href="/playbook/">/playbook</a></code></strong> Формулы и прочие лайфхаки для упорядочения жизни.</li>
    <li><strong><code><a href="/wish/">/wish</a></code></strong> Список желаний.</li>
    <li><strong><code><a href="/been/">/been</a></code></strong> Страны, в которых я побывал.</li>
    <br>
    <li><strong><code><a href="/webmentions/">/webmentions</a></code></strong> Упоминания этого сайта в сети.</li>
    <li><strong><code><a href="/legal/">/legal</a></code></strong> Юридическая информация и политика конфиденциальности.</li>
    <br>
    <li><strong><code><a href="/calendar.ics">/calendar.ics</a></code></strong> Календарь событий для импорта.</li>
    <li><strong><code><a href="/feed.atom.xml">/feed.atom.xml</a></code></strong> RSS-лента сайта в формате Atom.</li>
  </ul>

  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}
