---
title: /playbook
description: Yet another /carry or /style page
permalink: /playbook/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

  <div id="progress-bar"></div>

  {% include "partials/under-construction.njk" %}

  <h1><code>/playbook</code></h1>

  <p>Здесь будет микс из <a href="https://slashpages.net/#carry" target="_blank" rel="noopener">/carry</a>, <a href="https://slashpages.net/#style" target="_blank" rel="noopener">/style</a> и чего-то ещё. В общем, штуки, которые помогают мне работать, тренить, следить за здоровьем и не потеряться в лавине рабочих и личных встреч, дедлайнов и прочих «очень важных» дел.</p>

  <figure>
  <div class="tenor-gif-embed" data-postid="15268559469355186923" data-share-method="host" data-aspect-ratio="1.66" data-width="50%"><a href="https://tenor.com/view/potter-pottah-dr5-gif-15268559469355186923">Potter Pottah GIF</a>from <a href="https://tenor.com/search/potter-gifs">Potter GIFs</a></div>
  <figcaption>ACHTUNG! UWAGA! You Are Now Entering the Nerd Zone!</figcaption>
  </figure>

  <h2 id="body-fat">Body Fat</h2>

  <p>Каждое воскресенье (ну, почти) я делаю замеры тела, чтобы отслеживать, как меняются процент жира и масса тела в зависимости от диеты и тренировок. Все данные вношу в табличку в Ноушене.</p>

  <figure class="figure-content">
    <img src="/assets/images/playbook/notion-caliper-measurements-00.png" alt="">
    <figcaption>Так это выглядит в Notion</figcaption>
  </figure>

  <p>Для расчётов я вношу возраст и толщину кожных складок, которые замеряю калипером на груди, животе и бедре. Затем Notion считает их сумму (названия столбцов в примерах ниже я сократил, чтобы не перегружать формулы):</p>

  <div class="code-frame">
  {% highlight "js" %}
sum(prop("Chest"),prop("Abdomen"),prop("Thigh"))
  {% endhighlight %}
  </div>

  <p>На основе этой суммы вычисляется процент жира:</p>

<div class="code-frame">
{% highlight "js" %}
if(
  prop("Sum") > 0,
  round(
    495 /
      (
        1.10938
        - 0.0008267 * prop("Sum")
        + 0.0000016 * pow(prop("Sum"), 2)
        - 0.0002574 * prop("Age")
      )
      - 450,
    1
  ),
  empty()
)
{% endhighlight %}
</div>

  <p>Формула берёт сумму складок и возраст, вычисляет плотность тела по трёхточечной формуле Джексона-Поллока для мужчин, переводит её в процент жира по формуле Сири и округляет результат до одного знака. Для наглядности у меня есть отдельная колонка, где этот процент переводится в одну из категорий:</p>

  <div class="code-frame">
  {% highlight "js" %}
let(
  fat,
  if(empty(prop("JP BodyFat")), prop("Body Fat"), prop("JP BodyFat")),
  ifs(
    fat <= 7, "🟠 Lean",
    fat >= 8 and fat <= 19, "🟢 Ideal",
    fat >= 20 and fat <= 24, "🟡 Slightly High",
    "🔴 Obese"
  )
)
  {% endhighlight %}
</div>

  <p>Ранее процент жира рассчитывался по другой формуле. Отсюда два столбца: по Джексону-Поллоку и старые данные, которые нужны для совместимости.</p>

  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}
