---
title: /playbook
description: Yet another /carry or /style page
permalink: /playbook/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

  <div id="progress-bar"></div>

  {% include "partials/under-construction.njk" %}

  <h1><code>/playbook</code></h1>

  <p>Здесь будет микс из <a href="https://slashpages.net/#carry" target="_blank" rel="noopener">/carry</a>, <a href="https://slashpages.net/#style" target="_blank" rel="noopener">/style</a> и чего-то ещё. В общем, штуки, которые помогают мне работать, тренить, следить за здоровьем и не потеряться в лавине рабочих и личных встреч, дедлайнов и прочих «очень важных» дел.</p>

  <figure>
  <div class="tenor-gif-embed" data-postid="15268559469355186923" data-share-method="host" data-aspect-ratio="1.66" data-width="50%"><a href="https://tenor.com/view/potter-pottah-dr5-gif-15268559469355186923">Potter Pottah GIF</a>from <a href="https://tenor.com/search/potter-gifs">Potter GIFs</a></div>
  <figcaption>ACHTUNG! UWAGA! You Are Now Entering the Nerd Zone!</figcaption>
  </figure>

  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}
