---
title: /setup
description: Yet another /uses page
permalink: /setup/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

  <div id="progress-bar"></div>

  <h1><code>/setup</code></h1>

  <p>Здесь будет что-то вроде <a href="https://uses.tech/" target="_blank" rel="noopener">/uses</a>: набор софта, техники и чего угодно ещё, чем я пользуюсь на работе и в жизни. За набором практик для жизни можете заглянуть в мой <a href="/playbook/">/playbook</a>.</p>

  <figure>
  <div class="tenor-gif-embed" data-postid="17848599249574033384" data-share-method="host" data-aspect-ratio="1.66" data-width="50%"><a href="https://tenor.com/view/yes-britney-spears-nerdy-gif-17848599249574033384">Yes Britney Spears GIF</a>from <a href="https://tenor.com/search/yes-gifs">Yes GIFs</a></div>
  <figcaption>ACHTUNG! UWAGA! You Are Now Entering the Nerd Zone!</figcaption>
  </figure>

  <h2>Хардвер</h2>

  <p id="macbook-air"><strong><a href="https://support.apple.com/en-us/111933" target="_blank" rel="noopener">MacBook Air (2018)</a></strong> [Space Gray; 1.6GHz dual-core Intel Core i5, 8 Gb LPDDR3, 128 Gb SSD]. <br>Мышь плакает, колется, но продолжает жрать кактус. Но, вообще, это была лучшая покупка первой ковидной весны: мне тогда надо было на чём-то очень много работать, и б/у макбук оказался идеальным решением. Код дома я тоже на нём пишу.</p>

  <p><strong><a href="https://intl.nothing.tech/products/phone-2a?Colour=Milk&Capacity=12%2B256GB" target="_blank" rel="noopener">Nothing Phone (2a)</a></strong> [Milk; 12 + 8 GB RAM Booster, 256 Gb Storage]. Основной телефон с 2025 г.</p>

  <p><strong><a href="https://consumer.huawei.com/en/wearables/watch-gt-runner/" target="_blank" rel="noopener">HUAWEI Watch GT Runner</a></strong> [Black] — умные часы. Неплохо ловят GPS, даже когда телефон с этим лажает. Работают на одном заряде дней пять (у меня включены ВСЕ функции).</p>

  <p><strong>HUAWEI FreeBuds 4i</strong> [White] — наушники. Даже шумодав какой-то более-менее есть.</p>

  <p id="huawei-scale-3"><strong><a href="https://consumer.huawei.com/en/accessories/scale-3/" target="_blank" rel="noopener">HUAWEI Scale 3</a></strong> — типа умные весы с кривым биоимпедансом (поэтому процент жира измеряю с помощью рулетки и <a href="#caliper">калипера</a>).</p>

  <p><strong><a href="https://www.liito-kala.com/page92?product_id=6" target="_blank" rel="noopener">LiitoKala Engineer Lii-500</a></strong> — для аккумов.</p>

  <p><strong><a href="https://alice.yandex.ru/support/ru/station/meet/characteristics-gen1" target="_blank" rel="noopener">Yandex Station</a></strong> [Gray; Gen 1] — слушать музыку, ставить будильник и выключать лампочки полоумного дома.</p>

  <p><strong><a href="https://www.timberk.ru/catalog/product/t-hu6-a20e-w/" target="_blank" rel="noopener">Timberk Lotus (A20E)</a></strong> — увлажнять воздух (справляется хреново).</p>

  <p><strong><a href="https://www.ikea.com/se/en/search/?q=FORSA" target="_blank" rel="noopener">IKEA FORSÅ</a></strong> — лучшая настольная лампа в мире. У меня коричневая.</p>

  <h2>Софтвер</h2>

  <p><strong>VS Code</strong> [<a href="https://github.com/tonsky/vscode-theme-alabaster" target="_blank" rel="noopener">Alabaster Theme</a> + <a href="https://github.com/tonsky/FiraCode" target="_blank" rel="noopener">Fira Code</a>] — основной редактор на маке и винде. На последней работаю с репами через <a href="#wsl2">WSL</a>.</p>

  <p><strong>Zed</strong> — открывать всякое мелкое.</p>

  <p><strong>iTerm2</strong> — терминал на маке.</p>

  <p><strong><a href="https://learn.microsoft.com/en-gb/windows/terminal/" target="_blank" rel="noopener">Windows Terminal</a></strong> — терминал на винде.</p>

  <p id="wsl2"><strong><a href="https://learn.microsoft.com/en-us/windows/wsl/" target="_blank" rel="noopener">WSL2</a></strong> — гонять линукс на винде (у меня <a href="https://ubuntu.com/desktop/wsl" target="_blank" rel="noopener">Ubuntu</a> 22.04.5 LTS).</p>

  <p><strong>Zsh</strong> [<a href="https://ohmyz.sh/" target="_blank" rel="noopener">Oh My Zsh</a>] — оболочка.</p>

  <p><strong><a href="https://github.com/pyenv/pyenv" target="_blank" rel="noopener">pyenv</a></strong> — управлять версиями Питона.</p>

  <p><strong>Postman</strong> — тестировать API.</p>

  <p><strong><a href="https://www.freecad.org/" target="_blank" rel="noopener">FreeCAD</a></strong> — открывать рабочие чертежи.</p>

  <p><strong><a href="https://www.naps2.com/" target="_blank" rel="noopener">NAPS2</a></strong> — лучший сканер на винде, который умеет работать с «устаревшими», по мнению микрософта, моделями.</p>

  <p><strong>Notion</strong> — база знаний (код, физика, математика, язык) + база обмеров тела с формулами, высчитывающими <a href="/playbook/#body-fat">процент жира</a> и <a href="/playbook/#calories">калораж на неделю</a> + лог упражнений, высчитывающий <a href="https://en.wikipedia.org/wiki/One-repetition_maximum" target="_blank" rel="noopener" title="One-repetition maximum aka one-rep max">1RM</a>. Ноушен бесит до ужаса, но альтернативу так и не нашёл.</p>

  <p><strong>Obsidian</strong> — ещё одна база, но на сей раз для визуализации связей между записями в виде <a href="https://help.obsidian.md/plugins/graph" target="_blank" rel="noopener">графов</a>.</p>

  <p><strong>Zotero</strong> [<a href="https://github.com/bwiernik/zotero-shortdoi" target="_blank" rel="noopener">DOI Manager</a> + <a href="https://github.com/windingwind/zotero-better-notes" target="_blank" rel="noopener">Better Notes</a> + <a href="https://retorque.re/zotero-better-bibtex/" target="_blank" rel="noopener">Better BibTeX</a>] — цитатный менеджер.</p>

  <p><strong>Google Calendar</strong> — календари (у меня их шесть штук) + задачи.</p>

  <p id="raycast"><strong><a href="https://www.raycast.com/" target="_blank" rel="noopener">Raycast</a></strong> — швейцарский нож для всего.</p>

  <p><strong><a href="https://learn.microsoft.com/en-gb/windows/powertoys/" target="_blank" rel="noopener">Microsoft PowerToys</a></strong> [Advanced Paste + Peek + PowerToys Run] — почти как <a href="#raycast">Raycast</a>, только на винде.</p>

  <p id="netnewswire"><strong><a href="https://netnewswire.com/" target="_blank" rel="noopener">NetNewsWire</a></strong> — RSS.</p>

  <p><strong>Apple Podcasts</strong> — для подкастов на маке.</p>

  <p><strong><a href="https://antennapod.org/" target="_blank" rel="noopener">AntennaPod</a></strong> — для подкастов на андроиде.</p>

  <p><strong>Pixelmator Pro</strong> — для картинок на маке.</p>

  <p><strong><a href="https://www.getpaint.net/index.html" target="_blank" rel="noopener">Paint.NET</a></strong> — для картинок на винде.</p>

  <p><strong><a href="https://gramps-project.org/" target="_blank" rel="noopener">Gramps</a></strong> — строить семейное древо. Раньше пользовался <cite>MyHeritage</cite>, но в 2025-м он превратился в тыкву.</p>

  <p><strong><a href="https://hevy.com/" target="_blank" rel="noopener">Hevy</a></strong> — тренить.</p>

  <p><strong>Bitwarden</strong> — забыть про пароли.</p>

  <p><strong><a href="https://organicmaps.app/" target="_blank" rel="noopener">Organic Maps</a></strong> — помнить о точках на карте.</p>

  <p><strong><a href="https://www.pdf24.org/en/" target="_blank" rel="noopener">PDF24 Creator</a></strong> — работать с PDF на винде.</p>

  <p><strong><a href="https://www.11ty.dev/" target="_blank" rel="noopener">11ty</a></strong> — собирать сайт на коленке.</p>

  <p><strong>GitHub Actions + GitHub Pages</strong> — совать сайт в сеть.</p>

  <p><strong><a href="https://leafletjs.com/" target="_blank" rel="noopener">Leaflet</a></strong> — рисовать красивые карты.</p>

  <p><strong><a href="https://aiogram.dev/" target="_blank" rel="noopener">aiogram</a></strong> — делать ботов.</p>

  <h2>Аналоговое</h2>

  <p id="caliper"><strong><a href="https://sportwiki.to/Калипер" target="_blank" rel="noopener">Калипер</a></strong> — потому что <a href="#huawei-scale-3">«умные весы»</a> вычисляют процент жира для идеальных китайцев в вакууме. <a href="/playbook/#body-fat">Вот здесь рассказал</a>, как я этим штангенциркулем пользуюсь.</p>

  <p><strong>Блокнот «Midori Standart (13×22 см)»</strong> от питерского <a href="https://vk.com/sunplayhouse" target="_blank" rel="noopener"><cite>SunPlayHouse</cite></a> — вести дняффку и дневник путешественника, вклеивать билетики, картинки и всякое такое. Это реплика японского <a href="https://www.travelers-company.com/products/trnote/about" target="_blank" rel="noopener"><cite>Traveler’s Notebook</cite></a>, который ранее выпускался под брендом <cite>Midori</cite>.</p>

  <p><strong>Ежедневник «А́нёва»</strong> от архангелогородской <a href="https://pravda-severa.ru/" target="_blank" rel="noopener">«Правды Севера»</a> — красивый, недатированный, в точку, со сшитым корешком — всё как я люблю.</p>

  <p><strong>Ручка Brelor</strong> [EF ≈ 0.38 mm] — лучшая ручка в мире.</p>

  <p><strong>Коврик для резки deVente</strong> [дома зелёный A3, на работе серый A2] — чтобы резать всякое и не портить стол.</p>

  <p><strong><a href="https://ru.wikipedia.org/wiki/Смена-8М" target="_blank" rel="noopener">Смена-8М</a></strong> [кожаный чехол ЛОМО] — делать вид, что нитакуся; раз в год смотреть цены на плёнку и убирать фотик обратно в чехол.</p>

  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}
