---
title: Setup
description:
permalink: /setup/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

  <div id="progress-bar"></div>

  <h1>Setup</h1>

  <p>Здесь будет что-то вроде <a href="https://uses.tech/" target="_blank" rel="noopener">/uses</a>: набор софта, техники и чего угодно ещё, чем я пользуюсь на работе и в жизни.</p>

{% endblock %}
