---
title: /wish
description: The wish page
permalink: /wish/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

  <div id="progress-bar"></div>

  <h1>
    <code>/wish</code>
  </h1>

  {% include "partials/last-mode-git.njk" %}

  <p>Список хотелок. Если мы знакомы, есть повод, и вы размышляете над тем, что мне подарить, то можете вдохновиться чем-то отсюда. Идею подсмотрел <a href="https://taylor.town/wish-manifesto" target="_blank" rel="noopener">вот здесь</a>.</p>

  {% gif "if-i-had-one-wish-steve-martin", "Стив Мартин знает толк в желаниях" %}

  <p>Пожалуйста, не дарите мне ничего ароматизированного: свечи, мыло, диффузоры, косметику, чай, кофе и прочее. Скорее всего, я это выкину или отдам кому-то другому. Исключение — строго определённый <a href="#perfume">парфюм.</a>
  </p>

  <ul class="wish-list">
    <li>MacBook с M-процессором. Потому что мой <a href="/setup#macbook-air">нынешний</a> лэптоп несколько устарел.</li>
    <li>RAID-массив [SATA HDD]. Потому что данные сами себя не сохранят.</li>
    <li>Внешний SSD/флешка. Потому что их много не бывает.</li>
    <li>Экран для проектора 90" с подвесом сверху (трубка сверху, трубка снизу, полотно между ними — сверху ручка для подвешивания).</li>
    <br>
    <li>Мультитул из качественной стали. Например, от <a href="https://www.victorinox.com/en/Products/Swiss-Army-Knife%E2%84%A2-and-Tools/c/SAK/" target="_blank" rel="noopener">Victorinox</a> или <a href="https://www.leatherman.com/collections/multi-tools" target="_blank" rel="noopener">Leatherman</a>.</li>
    <li>Строительный фен</li>
    <li>Перфоратор</li>
    <li>Электролобзик</li>
    <li>NB! Вся техника — аккумуляторная</li>
    <br>
    <li>Струйный принтер для фотопечати</li>
    <li>Цветная фотоплёнка (ISO 200, 400)</li>
    <li>Компактный аккумуляторный ручной и/или налобный фонарь с usb-c, предпочтительно в металлическом корпусе и устойчивый к холоду</li>
    <li>Аккумуляторные батарейки с низким саморазрядом форматов AA и AAA. Например, <a href="https://ozon.ru/t/1EW5Djd" target="_blank" rel="noopener">такие.</a>
    </li>
    <br>
    <li>Билеты в театр: Театр на Васильевском, БДТ, Михайловский, Мариинка</li>
    <li>Сертификаты: <a href="https://www.ozon.ru/landing/giftcertificates/" target="_blank" rel="noopener">Ozon</a>, <a href="https://goldapple.ru/cards#gift-cards?step=0&from=share" target="_blank" rel="noopener">Золотое яблоко</a>, <a href="https://www.sportmaster.ru/giftcard/" target="_blank" rel="noopener">Спортмастер</a>, хорошей оптики.</li>
    <br>
    <li id="perfume">Парфюм (ТОЛЬКО из этого списка): <cite>Davidoff Cool Water</cite>, <cite>Terre d'Hermès</cite>, <cite>Demeter Zombie for Him</cite>
    </li>
    <li>Трубочный табак без ароматизаторов</li>
    <li>Любые <a href="https://www.travelers-company.com/products/trnote/refill-regular" target="_blank" rel="noopener">рефиллы, запасные тетради</a> для <cite>Traveler's Notebook</cite> (размер Standard/Regular 21×11). Например, тетради от <cite>Sun Play House</cite>
      <a href="https://ozon.ru/t/GcNzHqD" target="_blank" rel="noopener">в точку</a>, <a href="https://ozon.ru/t/rljSBvp" target="_blank" rel="noopener">тоже в точку</a> или <a href="https://ozon.ru/t/howpTzL" target="_blank" rel="noopener">без разлиновки</a>, блокнот <a href="https://ozon.ru/t/DuLWSIg">с синей обложкой</a> от них же; тетради от «Дома Старцевых» <a href="https://ozon.ru/t/b2prrOG" target="_blank" rel="noopener">в точку</a> или <a href="https://ozon.ru/t/howpaKl" target="_blank" rel="noopener">с недельными разворотами</a>, блокнот от <cite>Kulikov Craft</cite>
      <a href="https://ozon.ru/t/1EWmCYM" target="_blank" rel="noopener">с органайзером</a>; <a href="https://ali.click/57hpyr" target="_blank" rel="noopener">крафт-карман</a> от <cite>Fromtenon</cite>, <a href="https://ozon.ru/t/mO8QdKn" target="_blank" rel="noopener">тетрадь путешественника</a> или <a href="https://ozon.ru/t/zMDoA0S" target="_blank" rel="noopener">оливковый блокнот</a> от них же.</li>
    <br>
    <li>Книги из <a href="https://www.livelib.ru/reader/valeriuus/wish" target="_blank" rel="noopener">моего вишлиста на Лайвлибе</a>
    </li>
    <li>Всё что угодно из <a href="https://ozlik.notion.site/Valera-s-Wish-List-487d6d07f26d4edcb2f240459513b9ab" target="_blank" rel="noopener">моего большого вишлиста в Notion</a>
    </li>
    <br>
    <li>Бутылка хорошего сухого вина уместна всегда (я предпочитаю мальбек и пинотаж)</li>
  </ul>

  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}
