---
title: /wish
description: The wish page
permalink: /wish/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

  <div id="progress-bar"></div>

  <h1><code>/wish</code></h1>

  <p>Список хотелок. Если мы знакомы, есть повод, и вы размышляете над тем, что мне подарить, то можете вдохновиться чем-то отсюда. Идею подсмотрел <a href="https://taylor.town/wish-manifesto" target="_blank" rel="noopener">вот здесь</a>.</p>

  <figure>
  <div class="tenor-gif-embed" data-postid="24631303" data-share-method="host" data-aspect-ratio="1" data-width="50%"><a href="https://tenor.com/view/if-i-had-one-wish-steve-martin-saturday-night-live-id-wish-for-my-one-wish-gif-24631303">If I Had One Wish Steve Martin GIF</a>from <a href="https://tenor.com/search/if+i+had+one+wish-gifs">If I Had One Wish GIFs</a></div>
  </figure>

  <p>Пожалуйста, не дарите мне ничего ароматизированного: свечи, мыло, диффузоры, косметику, чай, кофе и прочее. Скорее всего, я это выкину или отдам кому-то другому. Исключение — строго определённый <a href="#perfume">парфюм.</a></p>

  <ul class="wish-list">
    <li>MacBook с M-процессором. Потому что мой <a href="/setup#macbook-air">нынешний</a> лэптоп несколько устарел.</li>
    <li>RAID-массив [SATA HDD]. Потому что данные сами себя не сохранят.</li>
    <li>Внешний SSD/флешка. Потому что их много не бывает.</li>
    <br>
    <li>Строительный фен</li>
    <li>Перфоратор</li>
    <li>Электролобзик</li>
    <br>
    <li>Струйный принтер для фотопечати</li>
    <li>Цветная фотоплёнка (ISO 200, 400)</li>
    <li>Компактный аккумуляторный ручной и/или налобный фонарь с usb-c, предпочтительно в металлическом корпусе и устойчивый к холоду</li>
    <br>
    <li>Билеты в театр: Театр на Васильевском, БДТ, Михайловский, Мариинка</li>
    <br>
    <li id="perfume">Парфюм (ТОЛЬКО из этого списка): <cite>Davidoff Cool Water</cite>, <cite>Terre d'Hermès</cite>, <cite>Demeter Zombie for Him</cite></li>
    <li>Трубочный табак без ароматизаторов</li>
    <li>Любые <a href="https://www.travelers-company.com/products/trnote/refill-regular" target="_blank" rel="noopener">рефиллы, запасные блокноты</a> для <cite>Traveler's Notebook</cite> (размер Standard/Regular 21×11)</li>
    <br>
    <li>Книги из <a href="https://www.livelib.ru/reader/valeriuus/wish" target="_blank" rel="noopener">моего вишлиста на Лайвлибе</a></li>
    <li>Всё что угодно из <a href="https://ozlik.notion.site/Valera-s-Wish-List-487d6d07f26d4edcb2f240459513b9ab" target="_blank" rel="noopener">моего большого вишлиста в Notion</a></li>
    <br>
    <li>Бутылка хорошего сухого вина уместна всегда (я предпочитаю мальбек и пинотаж)</li>
  </ul>

  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}
