---
title: /wish
description: The wish page
permalink: /wish/index.html
---

{% extends "layouts/base.njk" %}

{% block content %}

  <div id="progress-bar"></div>

  <h1>
    <code>/wish</code>
  </h1>

  {% include "partials/last-mode-git.njk" %}

  <p>Список хотелок. Здесь собрано то, что я намерен купить себе сам в обозримом будущем, и то, чему буду искренне рад в качестве подарка. Если мы знакомы, есть повод, и вы размышляете над тем, что мне подарить, то можете вдохновиться чем-то отсюда. Идею подсмотрел <a href="https://taylor.town/wish-manifesto" target="_blank" rel="noopener">вот здесь</a>.</p>

  {% gif "if-i-had-one-wish-steve-martin", "Стив Мартин знает толк в желаниях" %}

  <p>Пожалуйста, не дарите мне ничего ароматизированного: свечи, мыло, диффузоры, косметику, чай, кофе и прочее. Скорее всего, я это выкину или отдам кому-то другому. Исключение — строго определённый <a href="#perfume">парфюм.</a>
  </p>

  <ul class="wish-list">
    <li data-price="$$$">MacBook с M-процессором. Потому что мой <a href="/setup#macbook-air">нынешний</a> лэптоп несколько устарел.</li>
    <li data-price="$$">Механическая клавиатура (80%/TKL; Hot-swap):
      <ul>
        <li data-price="$$">
          <cite>WOBKEY</cite>
          <a href="https://www.wobkey.com/products/rainy75?variant=45523411173611" target="_blank" rel="noopener">Rainy 75 Electro White Pro</a>
        </li>
        <li data-price="$$">
          <cite>LUMINKEY</cite>
          <a href="https://www.luminkey.com/products/lumino75-75-layout-hot-swappable-custom-mechanical-keyboard?variant=48882200412436" target="_blank" rel="noopener">LUMINO75 Retro Charm</a>
        </li>
      </ul>
    </li>
    <li data-price="$$">Штуки для Home Lab:
    <ul>
        <li data-price="$$">UPS (USB / NUT support)</li>
        <li data-price="$$">Bare-metal DIY NAS (4+ bays, low-TDP x86)</li>
        <li data-price="$$">Media-station (4K QuickSync)</li>
        <li data-price="$$">Smart Home Hub (Zigbee/Thread/Matter)</li>
      </ul>
    </li>
    <li data-price="$$">Внешние SSD/HDD или флешка. Потому что их много не бывает.</li>
    <li data-price="$$">Экран для проектора 90" с подвесом сверху.</li>
    <br>
    <li data-price="$$">Мультитул из высококачественной стали:
    <ul>
        <li data-price="$$">
          <a href="https://www.victorinox.com/en/Products/Swiss-Army-Knife%E2%84%A2-and-Tools/c/SAK/" target="_blank" rel="noopener">Victorinox</a>
        </li>
        <li data-price="$$">
          <a href="https://www.leatherman.com/collections/multi-tools" target="_blank" rel="noopener">Leatherman</a>
        </li>
      </ul>
    </li>
    <li data-price="$$">Набор прецизионных отвёрток с битами из качественной стали с вращающимся затыльником:
    <ul>
        <li data-price="$$">
          <a href="https://gross-instrument.ru/product/otvertka-s-naborom-bit-i-torcevyh-golovok-dlja-tochnyh-rabot-uibkij-privod-48-shtuk-crmo-gross-11599/" target="_blank" rel="noopener">Gross 11599</a>
        </li>
        <li data-price="$$">
          <a href="https://www.mi.com/ru/product/mi-precision-screwdriver-kit/" target="_blank" rel="noopener">Mi Precision Screwdriver Kit</a>
        </li>
        <li data-price="$$">
          <a href="https://www.mi.com/ru/product/xiaomi-electric-precision-screwdriver/" target="_blank" rel="noopener">Xiaomi Electric Precision Screwdriver</a>
        </li>
      </ul>
    </li>
    <li data-price="$$">Мультиметр:
    <ul>
        <li data-price="$$">
          <a href="https://ali.click/eqfxz8" target="_blank" rel="noopener">FNIRSI DMT-99</a>
        </li>
      </ul>
    </li>
    <li data-price="$$">Строительный фен</li>
    <li data-price="$$">Аккумуляторный перфоратор с бесщёточным двигателем и тремя режимами работы</li>
    <li data-price="$$">Электролобзик</li>
    <li data-price="$$">Лазерный уровень</li>
    <li data-price="$">Лазерный дальномер:
      <ul>
        <li data-price="$">
          <a href="https://ali.click/6kbxzl" target="_blank" rel="noopener">Mileseey X5</a>, <a href="https://ali.click/jxcxzh" target="_blank" rel="noopener">Mileseey X5/S6/LV56</a>
        </li>
        <li data-price="$">
          <a href="https://ali.click/pugxz1" target="_blank" rel="noopener">FNIRSI IR40</a>
        </li>
      </ul>
    </li>
    <li data-price="$$">Цифровой штангенциркуль:
      <ul>
        <li data-price="$$">
          <a href="https://ali.click/owdxzj" target="_blank" rel="noopener">KETOTEK 150 mm</a>
        </li>
        <li data-price="$$">
          <a href="https://ali.click/08exzp" target="_blank" rel="noopener">KETOTEK 300 mm</a>
        </li>
      </ul>
    </li>
    <br>
    <li data-price="$$">Струйный принтер для фотопечати</li>
    <li data-price="₽">Цветная фотоплёнка (ISO 200, 400)</li>
    <li data-price="$">Компактный аккумуляторный ручной и/или налобный фонарь с usb-c, предпочтительно в металлическом корпусе и устойчивый к холоду:
    <ul>
        <li data-price="$">
          <a href="https://www.wubenlight.com/products/wuben-pl01-flashlight?variant=47711918686448" target="_blank" rel="noopener">WUBEN PL01</a>
        </li>
        <li data-price="$$">
          <a href="https://www.wubenlight.com/products/wuben-x1-small-and-powerful-ecl-flashlight-12000-lumens"  target="_blank" rel="noopener">Lightok X1</a>
        </li>
        <li data-price="$">
          <a href="https://www.wubenlight.com/products/wuben-g5-edc-light?variant=47599612723440" target="_blank" rel="noopener">WUBEN G5</a>
        </li>
      </ul>
    </li>
    <li data-price="₽">Аккумуляторные батарейки с низким саморазрядом форматов AA и AAA. Например, <a href="https://ozon.ru/t/1EW5Djd" target="_blank" rel="noopener">такие.</a>
    <li data-price="$">GaN-адаптер питания на 100W с Type-C портами и кабелем от 2 м</li>
    <br>
    <li data-price="$">Билеты в театр: <a href="https://teatrvo.ru/" target="_blank" rel="noopener">Театр на Васильевском</a>, <a href="https://bdt.spb.ru/" target="_blank" rel="noopener">БДТ</a>, <a href="https://mikhailovsky.ru/" target="_blank" rel="noopener">Михайловский</a>, <a href="https://www.mariinsky.ru/" target="_blank" rel="noopener">Мариинка</a>
    </li>
    <li data-price="₽">Сертификаты: <a href="https://www.ozon.ru/landing/giftcertificates/" target="_blank" rel="noopener">Ozon</a>, <a href="https://goldapple.ru/cards#gift-cards?step=0&from=share" target="_blank" rel="noopener">Золотое яблоко</a>, <a href="https://www.sportmaster.ru/giftcard/" target="_blank" rel="noopener">Спортмастер</a>, в хорошую оптику.</li>
    <br>
    <li id="perfume" data-price="$$">Парфюм (ТОЛЬКО из этого списка):
    <ul>
        <li data-price="$$">
          <cite>Davidoff</cite> Cool Water:
          <a href="https://www.zinodavidoff.com/fragrances/cool-water-eau-de-toilette-200-ml" target="_blank" rel="noopener">Eau de Toilette</a>, <a href="https://www.zinodavidoff.com/fragrances/cool-water-parfum-100-ml" target="_blank" rel="noopener">Parfum</a>
        </li>
        <li data-price="$$">
          <cite>Hermès</cite>
          <a href="https://www.hermes.com/uk/en/product/terre-d-hermes-parfum-V107758V0/" target="_blank" rel="noopener">Terre d'Hermès</a>
        </li>
        <li data-price="$$">
          <cite>Demeter</cite>
          <a href="https://demeterfragrance.com/products/zombie-for-him-cologne-spray" target="_blank" rel="noopener">Zombie for Him</a>
        </li>
      </ul>
    </li>
    <li data-price="$$$">Механические часы:
    <ul>
        <li data-price="$$$">
          <cite>MeisterSinger</cite>: <a href="https://meistersinger.com/en/product/archao-dlc-black/" target="_blank" rel="noopener">Archao DLC</a>, <a href="https://meistersinger.com/en/product/edition-anton-bruckner-en/" target="_blank" rel="noopener">Edition Anton Bruckner</a>, <a href="https://meistersinger.com/en/product/edition-passage/" target="_blank" rel="noopener">Edition Passage</a>, <a href="https://meistersinger.com/en/product/pangaea-day-date-365-white/" target="_blank" rel="noopener">Pangaea Day Date 365 — White</a>
        </li>
        <li data-price="$$$">
          <cite>BOTTA</cite>: <a href="https://www.botta-design.de/en/products/uno-24-hour-automatic-watch-anniversary-edition-15a?variant=44939254563081" target="_blank" rel="noopener">UNO 24 Edition-15</a>
        </li>
        <li data-price="$$$">
          <cite>NOMOS Glashütte</cite>: <a href="https://nomos-glashuette.com/en/tangente/tangente-neomatik-41-update-180" target="_blank" rel="noopener">Tangente neomatik 41 Update. Ref. 180</a>, <a href="https://nomos-glashuette.com/en/metro/metro-date-power-reserve-1101" target="_blank" rel="noopener">Metro date power reserve. Ref. 1101</a>
        </li>
        <li data-price="$$$">
          <cite>Junghans</cite>: <a href="https://junghans.de/en/shop/watches-en/form-en/form-a-chronoscope-en/form-a-chronoscope-date-english-13/" target="_blank" rel="noopener">FORM A Chronoscope</a>
        </li>
        <li data-price="$$$">
          <cite>Tissot</cite>: <a href="https://www.tissotwatches.com/en-en/T1379079720100.html" target="_blank" rel="noopener">PRX Carbon</a>, <a href="https://www.tissotwatches.com/en-en/T1424641606200.html" target="_blank" rel="noopener">Heritage 1938</a>
        </li>
        <li data-price="$$">
          <cite>Луч</cite>: <a href="https://luch.by/kollektsii/obratnyy-khod/72087646/" target="_blank" rel="noopener">Обратный ход: Солнечное затмение</a>
        </li>
        <li data-price="$$$">
          <cite>Ракета</cite>: <a href="https://world.raketa.com/ru/product/baykonur-0325" target="_blank" rel="noopener">Байконур</a>, <a href="https://world.raketa.com/ru/product/avangard-0292" target="_blank" rel="noopener">Авангард</a>
        </li>
      </ul>
    </li>
    <li data-price="₽">Трубочный табак без ароматизаторов:</li>
    <ul>
      <li data-price="₽">
        <a href="https://mac-baren.com/product/mac-baren-pure-tobacco/" target="_blank" rel="noopener">Mac Baren Pure Tobacco</a>
      </li>
      <li data-price="₽">
        <a href="https://pccf.ru/tabak-trubochnyy-iz-pogara-virdzhiniya-40-gr/" target="_blank" rel="noopener">Табак трубочный из Погара «Вирджиния»</a>
      </li>
      <li data-price="₽">
        <a href="https://www.gawithhoggarth.ltd/sg-full-virginia-flake-50g-1244" target="_blank" rel="noopener">Samuel Gawith Full Virginia Flake (FVF)</a>
      </li>
      <li data-price="₽">
        <a href="https://mac-baren.com/three-nuns-capstan/" target="_blank" rel="noopener">Capstan Original Navy Cut</a> (синяя или золотая банка)
      </li>
    </ul>
    <br>
    <li data-price="₽">Любые <a href="https://www.travelers-company.com/products/trnote/refill-regular" target="_blank" rel="noopener">рефиллы, запасные тетради</a> для <cite>Traveler's Notebook</cite> (размер Standard/Regular 21×11):
    <ul>
        <li data-price="$">
          <cite>Sun Play House</cite>: тетради <a href="https://ozon.ru/t/GcNzHqD" target="_blank" rel="noopener">в точку</a>, <a href="https://ozon.ru/t/rljSBvp" target="_blank" rel="noopener">тоже в точку</a> или <a href="https://ozon.ru/t/howpTzL" target="_blank" rel="noopener">без разлиновки</a>, блокнот <a href="https://ozon.ru/t/DuLWSIg" target="_blank" rel="noopener">с синей обложкой</a>
        </li>
        <li data-price="₽">«Дом Старцевых»: тетради <a href="https://ozon.ru/t/b2prrOG" target="_blank" rel="noopener">в точку</a> или <a href="https://ozon.ru/t/howpaKl" target="_blank" rel="noopener">с недельными разворотами</a>
        </li>
        <li data-price="$">
          <cite>Kulikov Craft</cite>: <a href="https://ozon.ru/t/1EWmCYM" target="_blank" rel="noopener">блокнот с органайзером</a>
        </li>
        <li data-price="₽">
          <cite>Fromtenon</cite>: <a href="https://ali.click/57hpyr" target="_blank" rel="noopener">крафт-карман</a>, <a href="https://ozon.ru/t/mO8QdKn" target="_blank" rel="noopener">тетрадь путешественника</a> или <a href="https://ozon.ru/t/zMDoA0S" target="_blank" rel="noopener">оливковый блокнот</a>
        </li>
      </ul>
    </li>
    <br>
    <li data-price="$$">Штоф для напитков из хрусталя:
    <ul>
        <li data-price="$$">Гусевский хрустальный завод: <a href="https://www.goose-crystal.ru/catalog/predmety_servirovki/grafiny_bar/khrustalnyy_shtof_gleb_bol_v_1000_ml_ris_medovyy_spas_bestsvetnyy_.html" target="_blank" rel="noopener">штоф «Глеб»</a>
        </li>
      </ul>
    </li>
    <li data-price="$">Набор классических хрустальных гранёных лафитников на 25 мл:
    <ul>
        <li data-price="$">«Бахметевъ1764»: <a href="https://bahmetev.com/index.php?route=product/product&path=80_60&product_id=374" target="_blank" rel="noopener">набор лафитников</a>
        </li>
      </ul>
    </li>
    <br>
    <li data-price="$">Книги из <a href="https://www.livelib.ru/reader/valeriuus/wish" target="_blank" rel="noopener">моего вишлиста на Лайвлибе</a>
    </li>
    <li data-price="$">Всё что угодно из <a href="https://ozlik.notion.site/Valera-s-Wish-List-487d6d07f26d4edcb2f240459513b9ab" target="_blank" rel="noopener">моего большого вишлиста в Notion</a>
    </li>
    <br>
    <li data-price="$">Бутылка хорошего сухого вина уместна всегда (я предпочитаю мальбек и пинотаж)</li>
  </ul>

  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}
