<section id="contacts">
  <h3 id="cv-contacts">Контакты</h3>

  <ul>
    {% for contact in social.contacts %}
      <li>
        <a
        href="{{ contact.url }}"
        {% if contact.itemprop %}itemprop="{{ contact.itemprop }}"{% endif %}
        {% if contact.rel %}rel="{{ contact.rel }}"{% endif %}
        {% if contact.download %}download{% endif %}
        {% if contact.titleAttr %}title="{{ contact.titleAttr }}"{% endif %}
      >
          {{ contact.title }}
        </a>
        {% if contact.note %}
        — {{ contact.note }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <button
    data-cal-link="tropin/chat-or-call"
    data-cal-namespace="chat-or-call"
    data-cal-config='{"layout":"month_view"}'
    title="Забронировать 15–30 минутный созвон прямо на сайте"
    class="cal-btn"
  >
    Забронировать созвон
  </button>

  <figure class="qr">
    <img
      src="{{ social.qr.image }}"
      eleventy:widths="150"
      alt="{{ social.qr.alt }}"
    >
    <figcaption>
      <abbr title="{{ social.qr.abbr }}">Scan</abbr>
      to address book or
      <a href="{{ social.qr.vcard }}" title="{{ social.qr.titleAttr }}">download</a>
      the contact to your phone
    </figcaption>
  </figure>

  <!-- Cal element-click embed code begins -->
  <script type="text/javascript">
    (function (C, A, L) {
      let p = function (a, ar) {
        a
          .q
          .push(ar);
      };
      let d = C.document;
      C.Cal = C.Cal || function () {
        let cal = C.Cal;
        let ar = arguments;
        if (!cal.loaded) {
          cal.ns = {};
          cal.q = cal.q || [];
          d
            .head
            .appendChild(d.createElement("script"))
            .src = A;
          cal.loaded = true;
        }
        if (ar[0] === L) {
          const api = function () {
            p(api, arguments);
          };
          const namespace = ar[1];
          api.q = api.q || [];
          if (typeof namespace === "string") {
            cal.ns[namespace] = cal.ns[namespace] || api;
            p(cal.ns[namespace], ar);
            p(cal, ["initNamespace", namespace]);
          } else
            p(cal, ar);
          return;
        }
        p(cal, ar);
      };
    })(window, "https://app.cal.com/embed/embed.js", "init");
    Cal("init", "chat-or-call", {origin: "https://app.cal.com"});

    // Important: Please add the following attributes to the element that should trigger the calendar to open upon clicking.
    // `data-cal-link="tropin/chat-or-call"`
    // data-cal-namespace="chat-or-call"
    // `data-cal-config='{"layout":"month_view"}'`

    Cal.ns["chat-or-call"]("ui", {
      "cssVarsPerTheme": {
        "light": {
          "cal-brand": "#f4b943"
        },
        "dark": {
          "cal-brand": "#fafafa"
        }
      },
      "hideEventTypeDetails": false,
      "layout": "month_view"
    });
  </script>
  <!-- Cal element-click embed code ends -->
</section>
