<section id="education">
  <h3 id="cv-education">Образование</h3>
  <dl itemprop="alumniOf" itemscope itemtype="http://schema.org/EducationalOrganization">
    <dt>
      <strong class="organization-name" itemprop="name">
        <cite>Санкт-Петербургский институт истории Российской академии наук</cite>
      </strong>
    </dt>
    <dd>
      <p>
            2012–2015 <span itemprop="description">Аспирантура по специальности «Отечественная история»</span>
      </p>
    </dd>
    <dt>
      <strong class="organization-name" itemprop="name">
        <cite>Санкт-Петербургский государственный университет</cite>
      </strong>
    </dt>
    <dd>
      <p>
            2007–2012
            <span itemprop="department" itemscope itemtype="https://schema.org/Organization">
          <span itemprop="name">
            <cite>Исторический факультет</cite></span></span>,
            <span itemprop="description">диплом по специальности «Музеология»</span>
      </p>
    </dd>
  </dl>
</section>
