<footer>
  <p>
    <button id="theme-toggle" class="theme-toggle">
      <span class="icon">🌓</span>
      <span class="label">Тема</span>
    </button>
  </p>

  <div class="footer-inner">
    <div>
      {% for icon in social_icons.icons %}
        <a
        href="{{ icon.url }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="{{ icon.name }}"
        class="icon-link"
        data-svg="{{ icon.svg }}"
      ></a>
      {% endfor %}
    </div>

    <small>
      <a
        href="https://ozlik.notion.site/Valera-s-Wish-List-487d6d07f26d4edcb2f240459513b9ab"
        target="_blank"
        rel="me noopener noreferrer"
        title="Notion официально не работает в РФ, используйте ВПН"
      >
        Notion Wish List
      </a>
      <span class="separator">·</span>
      <a
        href="{{ site.calendar.url }}"
        target="_blank"
        rel="me noopener noreferrer"
        title="{{ site.calendar.title }}"
        >Events Calendar</a
      >
      <span class="separator">·</span>
      <a
        href="{{ site.feed.url }}"
        target="_blank"
        rel="me noopener noreferrer"
        title="{{ site.feed.title }}"
        >Atom Feed (RSS)</a
      >
    </small>

    <p class="footer-copy">
      &copy;&nbsp;<time datetime="2023-2025">MMXXIII&nbsp;→&nbsp;MMXXV</time>&nbsp;<a href="{{ site.url }}">{{ author.enFullName }}</a>. This website is made with <a href="https://www.11ty.dev/">11ty</a> & hosted on <a href="https://docs.github.com/en/pages">GitHub Pages</a>.
    </p>
  </div>
</footer>
