<footer>
  <p><i><a rel="me" href="https://ozlik.notion.site/Valera-s-Wish-List-487d6d07f26d4edcb2f240459513b9ab"
     title="Notion официально не работает в РФ, используйте ВПН">
     Вишлист</a> в Ноушене, если вы ищете, что мне подарить на Новый год или днюху.</i></p>
  <p>&copy; MMXXIII&mdash;MMXXV Valery Tropin</p>
</footer>
