<header>
  <div class="header-inner">
    <h1 class="site-title">
      <a href="{{ site.url }}">{{ site.title }}</a>
    </h1>

    <!-- Pagefind JS: Search -->
    <div id="search"></div>

    <!-- Main Navigation -->
    <nav class="main-nav" aria-label="Главное меню">
      {% if menu and menu.length %}
      <ul>
        {% for item in menu %}
        <li><a href="{{ item.url | url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </nav>
  </div>
</header>
