<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ twitter_title | default(title) }}">
<meta name="twitter:description" content="{{ twitter_description | default(description) }}">
<meta name="twitter:image" content="{{ twitter_image | default('/img/Visit_Card_QR.webp') }}">
<meta name="twitter:image:alt" content="QR-Code with contacts data">
