<section class="under-construction">
  <div class="construction-frame"></div>
  <div class="construction-content">
    <h2>Раздел в разработке</h2>
    <pre class="not-found" data-pagefind-ignore="all">
¯\_(ツ)_/¯
    </pre>
    <p>Эта страница или раздел ещё не готов. Скоро появится! Или не очень скоро. Как руки дойдут, так и появится.</p>
    <p>Пока можете вернуться на <a href="/">главную</a>.</p>
  </div>
</section>
